{{!-- this.pokemonAttr because we are using a pokemonAttr attribute in the pokemon route hbs file --}}
<article class="pokemon__container">
  <h3>
    <span class="pokemon__name">
      {{!-- this.pokemonAttr.name gets passed into the helper function as an array by default. --}}
      {{!-- Even if it is a single argument --}}
      {{this.pokemonAttr.name}} - {{is-this-charizard this.pokemonAttr.name}}
    </span>
    <span class="pokemon__id">
      #{{this.pokemonAttr.id}}
    </span>
  </h3>
  <p class="pokemon__description">First appeared in {{this.pokemonAttr.version_group.name}}</p>
  <span class="pokemon__front">
    {{!-- Here, this.isWide is referring to the pokemon JS file, not the pokemon attribute --}}
    <a
      class="image {{if this.isWide "wide"}}"
      role="button"
      onClick={{action "toggleImageSize"}}
    >
      <img src={{this.pokemonAttr.sprites.front_default}} alt="Front view of {{this.pokemonAttr.name}}">
      <small class="{{if this.conditionalClassName "conditional class name test"}}">Conditional class name test</small>
    </a>
  </span>
  <span class="pokemon__back">
    <img src={{this.pokemonAttr.sprites.back_default}} alt="Back view of {{this.pokemonAttr.name}}">
  </span>
</article>