{{!-- this.pokemonAttr because we are using a pokemonAttr attribute in the pokemon route hbs file --}}
<article class="pokemon-details__container card border-danger">
  <div class="card-header bg-danger text-light">
    <h4>
      <div class="d-flex justify-content-between">
        <span class="pokemon-details__name">
          {{!-- this.pokemonAttr.name gets passed into the helper function as an array by default. --}}
          {{!-- Even if it is a single argument --}}
          {{name}} - {{is-this-charizard name}}
        </span>
        <span class="pokemon-details__id">
          #{{id}}
        </span>
      </div>
    </h4>
  </div>

  <div class="card-body">
    {{pokemon-sprites 
      name=this.name
      sprites=this.sprites
    }}
    <small class="{{if this.conditionalClassName "conditional class name test"}}">Conditional class name test</small>
    <div class="pokemon-stats-types">
      {{!-- Becomes available in 'this' context and in attrs --}}
      {{pokemon-stats
        types=this.types
        weight=this.weight
        height=this.height
        attrTest='attrTest'
      }}
    </div>
    {{!-- TODO - Appearances component or place into stats --}}
    <div class="row">
      <div class="col-2">
        Appearances:
      </div>
      <div class="col-10">
        {{appearances}}
      </div>
    </div>
  </div>
</article>