{{!-- this.pokemonAttr because we are using a pokemonAttr attribute in the pokemon route hbs file --}}
<article class="pokemon-details__container card border-danger">
  <div class="card-header bg-danger text-light">
    <h4>
      <div class="d-flex justify-content-between">
        <span class="pokemon-details__name">
          {{!-- this.pokemonAttr.name gets passed into the helper function as an array by default. --}}
          {{!-- Even if it is a single argument --}}
          {{name}} - {{is-this-charizard name}}
        </span>
        <span class="pokemon-details__id">
          #{{id}}
        </span>
      </div>
    </h4>
  </div>

  <div class="card-body">
    {{pokemon-sprites 
      name=this.name
      sprites=this.sprites
    }}
    <small class="{{if this.conditionalClassName "conditional class name test"}}">Conditional class name test</small>
    <p class="pokemon-details__description">Appears in {{appearances}}</p>
  </div>
</article>