<div class="right tomster">
  <h2>WE ARE NOT DIGIMON</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque reiciendis 
    natus nesciunt ratione voluptate in eaque dolore aut beatae nisi.
  </p>
  {{#link-to "about" class="btn btn-primary"}}
    About Us
  {{/link-to}}
</div>

<h2>OG LIZARDS</h2>

{{#each this.model as |pokemon|}}
  <article class="pokemon__container">
    <h3>
      <span class="pokemon__name">
        {{pokemon.name}}
      </span>
      <span class="pokemon__id">
        #{{pokemon.id}}
      </span>
    </h3>
    <p class="pokemon__description">First appeared in {{pokemon.version_group.name}}</p>
    <span class="pokemon__front">
      <img src={{pokemon.sprites.front_default}} alt="Front view of {{pokemon.name}}">
    </span>
    <span class="pokemon__back">
      <img src={{pokemon.sprites.back_default}} alt="Back view of {{pokemon.name}}">
    </span>
  </article>
{{/each}}